.header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: 9vh;
  text-transform: uppercase;
}

.header__left {
  width: 50vw;
  color : #52A3ED; 
  font-size: 1.2rem;
  padding: 3vh 3vw;
}

.header__right {
  width: 50vw;
  color: #fff;
  background-color: #52A3ED;
  display: flex;
  justify-content:flex-end;
  font-size: 1.2rem;
  padding: 3vh 3vw;
}
.title{
  cursor: pointer;
}
.header__item {
  margin-right: 2vw;
  cursor: pointer;
}

