.primary {
  background-color: transparent;
  border: 2px solid;
  text-transform: uppercase;
  padding: 2% 4%;
  font-size: 1.2rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.primary:hover {
  transform: scale(1.1);
}
.blue {
  color: #52A3ED;
  border-color: #52A3ED;
}
.blue:hover {
  background-color: #52A3ED;
  color: #fff;
}
.white {
  color: #fff;
  border-color: #fff;
}
.white:hover {
  background-color: #fff;
  color: #52A3ED;
}