.footer {
  width: 100vw;
  color: #52A3ED;
  border-top: solid 1px #52A3ED;
  text-align: center;
  height: 3vh;
  padding-top: 1vh;
}

.blue {
  color: #52A3ED;
  border-color: #52A3ED;
}

.white {
  background-color: #52A3ED;
  color: #FFFFFF;
  border-color: #FFFFFF;
}